@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-0 .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#header4-1 P {
  color: #ffffff;
}
#header4-1 H1 {
  color: #e25041;
}
#header4-1 .btn {
  font-size: 12px;
}

#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-2 .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-2 .mbr-brand__name a {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}


#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-5 .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-5 .mbr-brand__name a {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#content5-g .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#content5-g .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-g .mbr-article {
  color: #fff;
}
#content5-g .mbr-article UL {
  text-align: left;
}
#content5-g .mbr-article P {
  text-align: left;
  font-size: 22px;
}

#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-6 .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-6 .mbr-brand__name a {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#form1-p .mbr-header__text {
  color: #ffffff;
}


#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-7 .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box2-q .mbr-header .mbr-header__text {
  color: #2969b0;
  text-align: center;
  font-size: 46px;
  font-family: 'Oswald', sans-serif;
}
#msg-box2-q .mbr-article {
  color: #252525;
}

#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-8 .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}

#ext_menu-e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-e .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-e .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-e .mbr-brand__name a {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box5-j .mbr-header__text {
  color: #ffffff;
}
#msg-box5-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-j .mbr-article {
  color: #ffffff;
}
#msg-box5-k .mbr-header__text {
  color: #ffffff;
}
#msg-box5-k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-k .mbr-article {
  color: #ffffff;
}
#msg-box5-l .mbr-header__text {
  color: #ffffff;
}
#msg-box5-l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-l .mbr-article {
  color: #ffffff;
}

#ext_menu-m .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-m .mbr-navbar__section {
  background: #3d8eb9;
}
#ext_menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-m .mbr-brand__name a {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#features1-o P {
  font-size: 14px;
  color: #28324e;
}
#features1-o .mbr-header__subtext {
  color: #211e1c;
}
